<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Forecast </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let day of weather">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            {{ day.dt | date: 'EEE' }}, {{ day.dt | date: 'MMM d, y, h:mm a' }}
          </ion-col>
          <ion-col size="4">
            {{ day.main.temp_max }}°C / {{ day.main.temp_min }}°C
          </ion-col>
          <ion-col size="4">
            <ion-label class="temperature-label">{{day.weather[0].description}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>